.container{
    display:flex;
}
.container2{
    margin:20;
    width: 20%;
    border: 1px solid #dfdedd;
    border-radius: 10px;
    background-color:#faf2f1;
    box-shadow:2px 2px #dddbda;
}
.imgContainer{
    width: 100%;
}
.imgContainer img{
    width: 100%;   
    height:250px;
    border-radius: 10;
}
.eventName{
    text-align: left;
}
.eventName h3{
    margin-top: 15px;
    margin-left: 10;
    margin-bottom: 0;
    font-weight: 400;
    font-size:30px;
}
.description{
    text-align: left;
    color:#5f504f;
    margin:15 0 20 10;
}

