body {
    background-color: bisque;
    }
    .mainContainer {
        display:flex;
        margin:50px;
        padding:40px;
        justify-content: center;
        flex-wrap:wrap;
    
    }
    .container {
        width:25%;
        margin:20px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        flex:1;
        border-radius: 20px;
        background-color: black;
    }
    .imgContainer{
        padding:auto;
        margin-bottom: 10px;
        max-height: 300px;
        max-width: 412px;
        min-height:250px;
        overflow-y: scroll;
    }
    .textContainer {
        border-radius: 10px;
        color:whitesmoke;
    }
    .productName {
        font-weight: bolder;
        font-size: x-large;
        display: flex;
        justify-content: center;
    }
    .productDescription {
        padding:20px 20px 0px 20px;
    }
    .priceInfo {
        color: white;
        padding: 0px 0px 20px 0px;
        text-decoration: none;
        padding:0px;
        display:flex;
        padding:10px;
    }
    .priceInfo div {
        padding:10px;
        justify-content: center;
    }
    div ul {
        text-decoration: none;
        padding:0px;
        display:inline;
        padding:10px;
    }
    .productInfo div {
        justify-content: space-evenly;
        align-items: center;
    }
    .productBrand {
        font-size: small;
        font-weight:lighter;
        display: flex;
        justify-content: center;
    }
    /* .galleryImage {
        max-height: 80px;
    } */